<!-- 

    Variables open to this EJS Template

    securities - [] array of securities



 -->



<%- include("partials/header.ejs") %>




<div class="container info-background border-style">

    <h1>Welcome <%= currentUser.username %>! </h1>
    

    <%- include("partials/searchbar.ejs") %> 
    

    
    
    <table>
    <% portfolio.forEach(security =>{ %>
      
        <tr>
            <td>
                <a href="/dashboard/<%= security.symbol %> "><%= security.companyName %> </a>
            </td>
            <td>
                <a href="/dashboard/<%= security.symbol %>/news"><%= security.symbol %> News</a>
            </td>
            <td>
                <%= security.industry %> 
            </td>
        </tr>
    <% }); %>  
    </table>
</div>
    



 




<%- include("partials/footer.ejs") %>