<!-- 

    Variables open to this EJS Template

    securities - [] array of securities



 -->



<%- include("partials/header.ejs") %>




<div class="info-background border-style">

        
    <div class="container">

        <header>
            <h1>Welcome <%= currentUser.username %>! </h1>
            <%- include("partials/searchbar.ejs") %> 
        </header>

        

        
        
        <div class="table-responsive-md">
        <table class="table table-dark table-striped table-borderless">

        <thead class="thead-dark">
            <tr>
                <td>Company Name</td>
                <td>Stock Symbol</td>
                <td>News</td>
                <td>Industry</td>
            </tr>
        </thead>

        
        <tbody>
        <% portfolio.forEach(security =>{ %>
        
            <tr>
                <td>
                    <a href="/dashboard/<%= security.symbol %> "><%= security.companyName %> </a>
                </td>
                <td>
                    <%= security.symbol %> 
                </td>
                <td>
                    <a href="/dashboard/<%= security.symbol %>/news"><%= security.symbol %> News</a>
                </td>
                <td>
                    <%= security.industry %> 
                </td>
            </tr>
        <% }); %>  
        </tbody>
        </table>
        </div>
    </div>
</div>
    



 




<%- include("partials/footer.ejs") %>