<!-- 

    Variables open to this EJS Template

    securities - [] array of securities



 -->



<%- include("partials/header.ejs") %>

<div class="ui container">

<h1>
    Welcome <%= currentUser.username %>! 
</h1>


<form action="/dashboard/search" method="GET">
    <input type="text" name="ticker" placeholder="ticker">
    <input type="submit">
</form>





<% portfolio.forEach(ticker =>{ %>


    <li><a href="/dashboard/<%= ticker %> "><%= ticker %> </a></li>
    
<% }); %>  





</div>
 




<%- include("partials/footer.ejs") %>