<!-- 

    Variables open to this EJS Template

    securities - [] array of securities



 -->



<%- include("partials/header.ejs") %>




<div class="container info-background border-style">

    <h1>Welcome <%= currentUser.username %>! </h1>
    

    <%- include("partials/searchbar.ejs") %> 
    
    <!-- <form action="/dashboard/search" method="GET">
        <input type="text" name="ticker" placeholder="ticker">
        <input type="submit">
    </form>
        -->
    
    
    
    <table>
    <% portfolio.forEach(ticker =>{ %>
        <tr>
            <td>
                <a href="/dashboard/<%= ticker %> "><%= ticker %> </a>
            </td>
            <td>
                <a href="/dashboard/<%= ticker %>/news"><%= ticker %> News</a>
            </td>
        </tr>
    <% }); %>  
    </table>
</div>
    



 




<%- include("partials/footer.ejs") %>