<!-- 

    Variables open to this EJS Template

    securities - [] array of securities



 -->



<%- include("partials/header.ejs") %>




<div class="info-background border-style">

        
    <div class="container">

        <header>
            <div class="container d-flex justify-content-center">
                <h1>Welcome <%= currentUser.username %>! </h1>
                    
                <form class="form-inline symbol-search  horizontal-center" action="/dashboard/search" method="GET">
                    <div class=></div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="symbol" placeholder="Ticker">
                    </div>
                    
                    <input class="btn btn-large btn-primary" type="submit">
                </form>
            </div>

        </header>

        

        
        
        <div class="table-responsive-md">
        <table class="table table-dark table-striped table-borderless">

        <thead class="thead-dark">
            <tr>
                <td>Company Name</td>
                <td>Stock Symbol</td>
                <td>News</td>
                <td>Industry</td>
            </tr>
        </thead>

        
        <tbody>
        <% portfolio.forEach(security =>{ %>
        
            <tr>
                <td>
                    <a href="/dashboard/<%= security.symbol %> "><%= security.companyName %> </a>
                </td>
                <td>
                    <%= security.symbol %> 
                </td>
                <td>
                    <a href="/dashboard/<%= security.symbol %>/news"><%= security.symbol %> News</a>
                </td>
                <td>
                    <%= security.industry %> 
                </td>
            </tr>
        <% }); %>  
        </tbody>
        </table>
        </div>
    </div>
</div>
    



 




<%- include("partials/footer.ejs") %>