<%- include("partials/header") %> 



<div class="container">


<h1><%= symbol %> </h1>



<% if (loggedIn) {%> 
    <% if(contains ) { %> 
    <form action="/dashboard/<%=symbol%>?_method=DELETE" method="POST">
        <label for="delete">Delete from Portfolio</label>
        <input type="hidden" name="symbol" value="<%= symbol %>">
        
        <input type="submit" id="delete"value="Delete From Portfolio">
    </form>

    <% } else{%> 
    <form action="/dashboard" method="POST">
        <label for="add">Add to portfolio</label>
        <!-- <input type="hidden" name="companyDescription" value="<%= companyDescription %>"> -->
        <input type="hidden" name="companyDescription[symbol]" value="<%= symbol %>">
        <input type="hidden" name="companyDescription[companyName]" value="<%= companyDescription.companyName %> ">
        <input type="hidden" name="companyDescription[industry]" value="<%= companyDescription.industry %> ">
        <input type="hidden" name="companyDescription[description]" value="<%= companyDescription.description %> ">
        <input type="submit" id="add"value="Add to portfolio">
    </form>
    <% } %> 
<% } else{ %>
    <p>Log In to add this stock to  your watchlist</p>
<% } %> 



<li>Description: <%= companyDescription.description %> </li>
<li>CompanyName: <%= companyDescription.companyName %> </li>
<li>Industry: <%= companyDescription.industry %> </li>
<li>Dividend Yield: <%= checkContent(companyStats.dividendYield) %> </li>
<li>Earnings Per Share: <%=checkContent(companyStats.ttmEPS)%></li>
<li>PE Ratio: <%= checkContent(companyStats.peRatio) %> </li>
<li>ExDividend Date: <%= checkContent(companyStats.exDividendDate) %> </li>
<li>Next Dividend Date: <%= checkContent(companyStats.nextDividendDate) %> </li>


<% if (dividends.length == 0){ %>
    <p>This company has not paid dividends</p>
<% } else { %> 
    <table>
        <% dividends.forEach((divPayment)=>{ %>
            <tr>
                <td><%= divPayment.date %></td>
                <td><%= divPayment.amount %> </td>
            </tr>
        <% });%>
    </table>
<% } %> 



</div>


<%- include("partials/footer") %> 