<%- include("partials/header") %> 


<div class="info-background border-style">

<div class="container">

<a href="javascript:history.back()" class="btn btn-primary">
    <i class="fa fa-arrow-left"></i> Go Back
<a>


<h1><%= symbol %> </h1>



<% if (loggedIn) {%> 
    <% if(contains ) { %> 
    <form action="/dashboard/<%=symbol%>?_method=DELETE" method="POST">
        <label for="delete">Delete from Portfolio</label>
        <input type="hidden" name="symbol" value="<%= symbol %>">
        
        <input type="submit" id="delete"value="Delete From Portfolio">
    </form>

    <% } else{%> 
    <form action="/dashboard" method="POST">
        <label for="add">Add to portfolio</label>
        

        <input type="hidden" name="companyDescription[symbol]" value="<%= symbol %>">
        <input type="hidden" name="companyDescription[companyName]" value="<%= companyDescription.companyName %> ">
        <input type="hidden" name="companyDescription[industry]" value="<%= companyDescription.industry %> ">
        <input type="hidden" name="companyDescription[description]" value="<%= companyDescription.description %> ">
        <input type="submit" id="add"value="Add to portfolio">
    </form>
    <% } %> 
<% } else{ %>
    <p>Log In to add this stock to  your watchlist</p>
<% } %> 



<li>Description: <%= companyDescription.description %> </li>
<hr>
<table class="table table-dark table-borderless">
    <tr>
        <td>Company Name</td>
        <td><%= companyDescription.companyName %> </td>
    </tr>
    <tr>
        <td>Industry:</td>
        <td><%= companyDescription.industry %> </td>
    </tr>
    <tr>
        <td>Dividend Yield:</td>
        <td><%=checkContent(companyStats.dividendYield)%></td>
    </tr>
    <tr>
        <td>Earnings Per Share:</td>
        <td><%=checkContent(companyStats.ttmEPS)%></td>
    </tr>
    <tr>
        <td>PE Ratio: </td>
        <td> <%= checkContent(companyStats.peRatio) %></td>
       
    </tr>
    <tr>
        <td>ExDividend Date: </td>
        <td><%= checkContent(companyStats.exDividendDate) %></td>
    </tr>
    <tr>
        <td>Next Dividend Date: </td>
        <td><%= checkContent(companyStats.nextDividendDate) %> </td>

    </tr>
</table>




<%- include("partials/footer") %> 