<%- include("partials/header") %> 



<div class="container">


<h1><%= ticker %> </h1>

<% if (loggedIn) {%> 
    <% if(contains ) { %> 
    <form action="/dashboard/<%=ticker%>?_method=DELETE" method="POST">
        <label for="delete">Delete from Portfolio</label>
        <input type="hidden" name="ticker" value="<%= ticker %>">
        <input type="submit" id="delete"value="Delete From Portfolio">
    </form>

    <% } else{%> 
    <form action="/dashboard" method="POST">
        <label for="add">Add to portfolio</label>
        <input type="hidden" name="ticker" value="<%= ticker %>">
        <input type="submit" id="add"value="Add to portfolio">
    </form>
    <% } %> 
<% } else{ %>
    <p>Log In to add this stock to  your watchlist</p>
<% } %> 
<li>Dividend Yield: <%= checkContent(companyStats.dividendYield) %> </li>
<li>Earnings Per Share: <%=checkContent(companyStats.ttmEPS)%></li>
<li>PE Ratio: <%= checkContent(companyStats.peRatio) %> </li>
<li>ExDividend Date: <%= checkContent(companyStats.exDividendDate) %> </li>
<li>Next Dividend Date: <%= checkContent(companyStats.nextDividendDate) %> </li>


<% if (dividends.length == 0){ %>
    <p>This company has not paid dividends</p>
<% } else { %> 
    <table>
        <% dividends.forEach((divPayment)=>{ %>
            <tr>
                <td><%= divPayment.date %></td>
                <td><%= divPayment.amount %> </td>
            </tr>
        <% });%>
    </table>
<% } %> 



</div>


<%- include("partials/footer") %> 